# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")

### Step 4. See the first 10 entries

In [16]:
print(chipo.head(10))
print(chipo.describe())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 5. What is the number of observations in the dataset?

In [17]:
# Solution 1

print(chipo.order_id.count())

4622

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [12]:
print(chipo.columns.nunique())

5

### Step 7. Print the name of all the columns.

In [23]:
print(chipo.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### Step 8. How is the dataset indexed?

In [26]:
print(chipo.index.values.dtype)

int64

### Step 9. Which was the most-ordered item?

In [59]:

sum_df = chipo.groupby(["item_name"]).quantity.sum().reset_index()
print(sum_df)
print(sum_df[sum_df["quantity"] == sum_df.quantity.max()])
# print(chipo.groupby(["item_name","quantity"]).count())

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8
       item_name  quantity
17  Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [60]:
print(sum_df[sum_df["quantity"] == sum_df.quantity.max()].quantity)

17    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [71]:
a = chipo.groupby(["choice_description"]).sum().sort_values(["quantity"], ascending= False)
print(a)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [73]:
print(chipo.quantity.sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?